WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/144f99cc-d70d-4a2f-a79d-1d739806e694.vsidx
WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/
WindowsFormsApp1/.vs/WindowsFormsApp1/v17/
WindowsFormsApp1/packages/Fody.6.9.1/package_icon.png
WindowsFormsApp1/WindowsFormsApp1/Properties/
WindowsFormsApp1/packages/Fody.6.9.1/
WindowsFormsApp1/packages/MethodDecorator.Fody.1.1.1/
WindowsFormsApp1/WindowsFormsApp1/FodyWeavers.xsd
WindowsFormsApp1/WindowsFormsApp1/packages.config
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/WindowsFormsApp1/bin/
WindowsFormsApp1/WindowsFormsApp1/obj/
